<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="../dist/vue-mfk.css" rel="stylesheet"></link>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="../dist/vue-mfk.js"></script>

</head>

<body>
    <div id="app">
        <v-app>
            <v-container fluid>
                <v-layout>
                    <v-flex xs8 d-flex>
                        <mfk-favorite 
                            v-model="mfk" 
                            :get-favorite-mfks="getMfks" 
                            :add-favorite-mfk="addMfk" 
                            :remove-favorite-mfk="removeMfk"></mfk-favorite>
                        <mfk-input v-model='mfk'></mfk-input>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>
    </div>
    <script>
        let mfkStore = [
            { alias: "Whole thing", mfk: "111-22-3333-12345-44444444-5555-666-77777-88-9999" },
            { alias: "Just Ones", mfk: "111-11-1111-12345-11111111-5555-666-77777-88-9999" },
            { alias: "No Org", mfk: "444--6666-12345-11111111-5555-666-77777-88-9999" },
        ];

        var app = new Vue({
            el: '#app',
            data: {
                mfk: "123-22",
                addMfk: function (newMfk) { return new Promise((resolve, reject) => window.setTimeout(() => { mfkStore.push(newMfk); resolve() }, 100)) },
                getMfks: function () { return new Promise((resolve, reject) => window.setTimeout(() => resolve(mfkStore), 100)) },
                removeMfk: function (removedMfk) { return new Promise((resolve, reject) => window.setTimeout(() => { _.reject(mfkStore, (mfk) => mfk == removedMfk); resolve() }, 100)) },
            }
        });

    </script>

</body>

</html>